* {
  box-sizing: border-box;
}

img {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
  background: seagreen;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.navBar-profile-pic {
  padding-right: 25rem;
}

#dragoBetis {
  position: absolute;
  right: 0px;
  width: 720px;
  height: 500px;
  border-radius: 0%;  
}

#isaac {
  position: absolute;
  left: 9rem;
  width: 100px;
  height: 150px;
  border-radius: 0%;
}